### Задание 3

Изучите файл https://cloud.mail.ru/public/ZpXM/CzbXousb7 и выполните задание,
расположенное на предпоследнем слайде. 

Данные скачайте отсюда
https://cloud.mail.ru/public/Zg8c/vC68paTcx.

In [1]:
import pandas as pd

В файле water.txt представлено 61 наблюдение. Каждое наблюдение – город в
Англии и Уэльсе. Города дополнительно поделены на северные и южные. Для
каждого города известны средняя годовая смертность на 100000 населения (по
данным 1958–1964) и концентрация кальция в питьевой воде (в частях на
миллион). Чем выше концентрация кальция, тем жёстче вода.

In [2]:
df = pd.read_csv("data/14water.txt", sep="\t")
df.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

##### 1) Используя метод .describe() вычислите описательные статистики для северных июжных городов. 
Сравните средние значения смертности в северных и южных
городах и значения концентрации кальция в питьевой воде.

In [3]:
df[df["location"] == "North"].describe()

         mortality   hardness
count    35.000000  35.000000
mean   1633.600000  30.400000
std     136.936911  26.134494
min    1378.000000   6.000000
25%    1557.500000  12.500000
50%    1637.000000  17.000000
75%    1718.000000  44.000000
max    1987.000000  94.000000

In [4]:
df[df["location"] == "South"].describe()

         mortality    hardness
count    26.000000   26.000000
mean   1376.807692   69.769231
std     140.269175   40.360682
min    1096.000000    5.000000
25%    1259.250000   40.250000
50%    1364.000000   75.500000
75%    1485.750000   99.750000
max    1627.000000  138.000000

##### 2) Постройте 95% доверительные интервалы для средней годовой смертности по всем южным и северным городам. 
Отличаются ли границы интервалов?

In [5]:
from statsmodels.stats.weightstats import _tconfint_generic
import numpy as np

In [6]:
df_north = df[df["location"] == "North"]
df_south = df[df["location"] == "South"]

mort_mean_n = df_north["mortality"].mean()
mort_mean_s = df_south["mortality"].mean()

mort_mean_std_n = df_north["mortality"].std(
) / np.sqrt(df_north["mortality"].shape[0])

mort_mean_std_s = df_south["mortality"].std(
) / np.sqrt(df_south["mortality"].shape[0])

print("North 95%:", _tconfint_generic(mort_mean_n, mort_mean_std_n,
      df_north["mortality"].shape[0] - 1, 0.05, "two-sided"))

print("South 95%:", _tconfint_generic(mort_mean_s, mort_mean_std_s,
      df_south["mortality"].shape[0] - 1, 0.05, "two-sided"))

North 95%: (1586.5605251961385, 1680.6394748038613)
South 95%: (1320.1517462936238, 1433.463638321761)

Границы доверительных интервалов отличаются

##### 3) Постройте 95% доверительные интервалы для средней концентрации кальция в питьевой воде для южных и северных городов.
Отличаются ли границы интервалов?

In [7]:
df_north = df[df["location"] == "North"]
df_south = df[df["location"] == "South"]

mort_mean_n = df_north["hardness"].mean()
mort_mean_s = df_south["hardness"].mean()

mort_mean_std_n = df_north["hardness"].std(
) / np.sqrt(df_north["hardness"].shape[0])

mort_mean_std_s = df_south["hardness"].std(
) / np.sqrt(df_south["hardness"].shape[0])

print("North 95%:", _tconfint_generic(mort_mean_n, mort_mean_std_n,
      df_north["hardness"].shape[0] - 1, 0.05, "two-sided"))

print("South 95%:", _tconfint_generic(mort_mean_s, mort_mean_std_s,
      df_south["hardness"].shape[0] - 1, 0.05, "two-sided"))

North 95%: (21.42248728572426, 39.37751271427574)
South 95%: (53.467198692036106, 86.07126284642544)

Границы доверительных интервалов отличаются

##### 4) Какие можно сделать выводы?

На севере выше смертность и меньше концентрация кальция в воде