#### No5 (3 балла)
С сайта https://www.kaggle.com/ скачайте датасет на ваш выбор для обучения модели
линейной регрессии. Выполните следующие действия:

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

1) Опишите выбранный набор данных: контекст данных, какие данные есть в наборе, как можно будет использовать полученные результаты предсказания.

In [2]:
df = pd.read_csv(
    "csv/CO2 Emissions_Canada.csv").dropna().drop("Fuel Consumption Comb (mpg)", axis=1)
df.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,244

Датасет отображает данные о выбросах автомобилями углекислого газа

- Make - компания производитель автомобиля
- Model	- модель автомобиля
- Vehicle Class	- класс автомобиля
- Engine Size(L) - размер двигателя
- Cylinders	- кол-во цилиндров
- Transmission - тип трансмиссии
- Fuel Type - тип топлива
- Fuel Consumption City (L/100 km) - расход топлива при передвижении в городе
- Fuel Consumption Hwy (L/100 km) - расход топлива при передвижении по трассе
- Fuel Consumption Comb (L/100 km) - расход топлива при комбинированных условиях (55% по городу, 45% по трассе)
- CO2 Emissions(g/km) - выбросы углекислого газа

Данные можно будет использовать для предсказания количества выбрасываемого автомобилем углекислого газа

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7385 entries, 0 to 7384
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Make                              7385 non-null   object
 1   Model                             7385 non-null   object
 2   Vehicle Class                     7385 non-null   object
 3   Engine Size(L)                    7385 non-null   float64
 4   Cylinders                         7385 non-null   int64
 5   Transmission                      7385 non-null   object
 6   Fuel Type                         7385 non-null   object
 7   Fuel Consumption City (L/100 km)  7385 non-null   float64
 8   Fuel Consumption Hwy (L/100 km)   7385 non-null   float64
 9   Fuel Consumption Comb (L/100 km)  7385 non-null   float64
 10  CO2 Emissions(g/km)               7385 non-null   int64
dtypes: float64(4), int64(2), object(5)
memory usage: 634.8+ KB

2) Выберите выходную прогнозируемую переменную.

Выходная переменная: CO2 Emissions(g/km)

3) Постройте линейную регрессионную модель с несколькими значимыми
параметрами (оцените корреляции между признаками, последовательно добавляйте
признаки и сравнивайте качество получаемых моделей, оцените адекватность
модели).

In [4]:
df.corr()

,Engine Size(L),Cylinders,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),CO2 Emissions(g/km)
Engine Size(L),1.000000,0.927653,0.831379,0.761526,0.817060,0.851145
Cylinders,0.927653,1.000000,0.800702,0.715252,0.780534,0.832644
Fuel Consumption City (L/100 km),0.831379,0.800702,1.000000,0.948180,0.993810,0.919592
Fuel Consumption Hwy (L/100 km),0.761526,0.715252,0.948180,1.000000,0.977299,0.883536
Fuel Consumption Comb (L/100 km),0.817060,0.780534,0.993810,0.977299,1.000000,0.918052
CO2 Emissions(g/km),0.851145,0.832644,0.919592,0.883536,0.918052,1.000000

Данные сильно коррелируют между собой

In [5]:
x = df.drop(["CO2 Emissions(g/km)", "Make", "Model",
            "Vehicle Class", "Transmission", "Fuel Type"], axis=1)
y = df["CO2 Emissions(g/km)"]

x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.3, random_state=42)

lr = LinearRegression()
lr.fit(x_train, y_train)

lr.score(x_test, y_test)

0.8752005203528732

4) Из-за того, что признаки достаточно сильно коррелируют между собой, модель получилась относительно точной

5) Спрогнозируйте несколько новых значений с помощью построенной модели.

In [6]:
test_data = df.iloc[10:15, :-1]
test_co2 = df.iloc[10:15, -1]
test_data

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km)
10,ACURA,TSX,COMPACT,2.4,4,M6,Z,11.2,8.1,9.8
11,ACURA,TSX,COMPACT,3.5,6,AS5,Z,12.1,8.3,10.4
12,ALFA ROMEO,4C,TWO-SEATER,1.8,4,AM6,Z,9.7,6.9,8.4
13,ASTON MARTIN,DB9,MINICOMPACT,5.9,12,A6,Z,18.0,12.6,15.6
14,ASTON MARTIN,RAPIDE,SUBCOMPACT,5.9,12,A6,Z,18.0,12.6,15.6

In [7]:
data = test_data.drop(["Make", "Model", "Vehicle Class",
                      "Transmission", "Fuel Type"], axis=1)
test_data["CO2"] = lr.predict(data)

Предсказанные данные:

In [8]:
test_data["CO2"]

10    220.516373
11    247.228719
12    198.656601
13    368.171806
14    368.171806
Name: CO2, dtype: float64

Оригинальные данные:

In [9]:
test_co2

10    225
11    239
12    193
13    359
14    359
Name: CO2 Emissions(g/km), dtype: int64